.footerSection{
    background-color: #616161;
}
footer{
    padding: 32px 0 40px;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.Btn_action{
    display: flex;
    gap: 5px;
}
.btn{
    padding: 14px 24px;
    color: #fff;
    background-color: #000;
    border: none;
    font-size: 15px;
    font-weight: 400;
}
.btn:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(204, 204, 204);
}
.btn.disabled{
    cursor: not-allowed;
    opacity: 0.3;
}
footer p{
    font-size: 15px;
    line-height: 1.5;
}
.active{
    color: red;
}
